      #map {
        height: 70%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	  }
		.text
		{
			font-family: Helvetica-Bold;
            font-size: 20px;
		}
		#address
		{
			width: 430px;
		height: 50px;
		}
		#text
		{
		width: 200px;
		height: 50px;
		}
		#submit
		{
		width: 200px;
		height: 50px;
		}
		#end 
		{
		margin-left: 26px;
		width: 200px;
		height: 50px;
		}
		#output{
			width: 600px;
		height: 200px;
		}
}
